In [9]:
from src.llm import LLM
import src.schema_infer as si

llm = LLM(*LLM.load_keys("secrets.json"))
path = "/Users/alex/workspace/data/tpch1-mixed/"
result = si.create_initial_tables(llm, path, quiet=True)
print(result)

{
"orders": ["orders.csv", "orders500000.csv", "orders1000000.csv", "orders0.csv"],
"partsupp": ["partsupp.csv"],
"part": ["part.csv"],
"supplier": ["supplier.csv"],
"nation": ["nation.csv"],
"customer": ["customer.csv"],
"region": ["region.csv"],
"lineitem": ["lineitem/part2000000.csv", "lineitem/part4000000.csv", "lineitem/part0.csv", "lineitem/part3000000.csv", "lineitem/part5000000.csv", "lineitem/part6000000.csv", "lineitem/part1000000.csv"],
"UNKNOWN": [".DS_Store", "README.md", "lineitem/.DS_Store"]
}

In [1]:
from src.database import Database

db = Database.create()
db.run_query("select 1;")

   ?column?
0         1

In [1]:

[1, 2, 3, 4][:-1]

[1, 2, 3]